.container-btn-add-teacher{
    margin-bottom: 2em;
    display: flex;
    align-items: flex-end;
}

.icon-teacher{
    margin-right: 2px;
}

.btn-add-teacher{
    padding: 12px;
    /* background: rgb(46, 194, 1);  */
    color: #fff;
    border: none;
    border-radius: 10px;
}

.btn-add-teacher:hover{
    cursor: pointer;
    /* background: rgb(52, 218, 2);  */
}